<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">Total Categories</div>
					<div class="panel-body">
						<div class="col-md-12">
							<table class="table ">
								<thead>
									<th>Active</th>
									<th>InActive</th>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-success">
					<div class="panel-heading">Total Products</div>
					<div class="panel-body">
						<div class="col-md-12">
							<table class="table">
								<thead>
									<th>Active</th>
									<th>InActive</th>
								</thead>
							</table>
						</div>
						
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-info">
					<div class="panel-heading">Total Customers</div>
					<div class="panel-body">
						<div class="col-md-12">
							<h2 align="center">50</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>