<!-- Product Tabs Start -->
		<div class="row bord_bottombg_out">
			<div class="bord_bottombg">
				<div class="center">
					<!-- Product Tabs Navigation -->
					<div class="col l12 hmoe_prod_tab">
						<div class="hmoe_prod_tabin">
						  <ul class="tabs text-center" id="home_prod_tabid">
							<li class="tab col s3 l2"><a class="active" href="#oils_id">Oils</a></li>
							<li class="tab col s3 l2"><a href="#powders_id">Powders</a></li>
							<li class="tab col s3 l2"><a href="#cerreals_id">Cerreals</a></li>
							<li class="tab col s3 l2"><a href="#vegetables_id">Vegetables</a></li>
							<li class="tab col s3 l2"><a href="#vegetables_id">Vegetables</a></li>
							<li class="tab col s3 l2"><a href="#vegetables_id">Vegetables</a></li>
						  </ul>					  
						</div>
					  <a class="btnPrevious" href="javascript:;" title="Previous"><i class="material-icons">chevron_left</i></a>
					  <a class="btnNext" href="javascript:;" title="Next"><i class="material-icons">chevron_right</i></a>
					  
					</div>
					<!-- Tab Products -->
				</div>
			</div>
		</div>
			
			<div class="row prod_imgdesc_row">
			<div class="clearfix">
				<div id="oils_id" class="col l12">
					
						<div class="col l12 prod_imgdesc z-depth-1">
							<div class="col s12 l6">
								<img class="responsive-img" src="store/images/oil_image.jpg" alt=""/>
							</div>	
							<div class="col s12 l6">
								<h5 class="text-left">Oils</h5>
								<p class="desc1 grey-text text-darken-1">T.M.M.R.Rathinasamy & Co is in the field of extraction of edible oils since 1977. Main intention of our company is to produce best quality Gingelly oil through natural process.</p>
								<br/>
								<p class="desc1 grey-text text-darken-1">Nearly 400 tons of quality Gingelly oil can be extracted every month from our factory. Best quality sesame seeds from all over India are subjected to quality testing and then purchased. Since Gingelly oil extraction process we follow is natural, the Aroma of our Gingelly oil itself speaks for its flavour and quality.</p>
							</div>	
						</div>	
					<div class="center">
					<h4 class="title1">Oils</h4>
					<div class="prodct_list row">
						<div class="col m12 l9">
							
							<div class="prd_box z-depth-1">
								<div class="prd_boxin">
									<div class="prodtlst_img">
										<a title="" href="javascript:;"><img alt="Product" src="store/images/Products/prod_img1.jpg" class="Product"></a>
										<a class="prod_wishlst" href="javascript:;" title="wishlist"><i class="material-icons">favorite_border</i></a>
									</div>
									
									<div class="prodtlst_info clearfix">
										<div class="prodtlst_info_top">
											<div><a title="Vegie Overloaded Big Pizza" href="javascript:;" class="title2">Vegie Overloaded Big Pizza</a></div>																																			
										</div>
										<div class="prodtlst_price_blk clearfix">
											<p class="prd_price"><i class="fa fa-rupee"></i>229</p>
										</div>
										
										<div class="input-field qtyamt_blk usergm_slct_out clearfix">  
											<i class="material-icons dwnarrow">keyboard_arrow_down</i>
											<select class="browser-default"  name="qtywght">
												<option value="" disabled selected>Choose option</option>
												<option>250 Gram</option>
												<option>500 Gram</option>
												<option>1 Kg</option>
												<option>2 Kg</option>
												<option>5 Kg</option>
											</select>
											<!-- label>Select Qty Weight</label -->
										 </div>
										
										<div class="cartbtn_blk row clearfix">											
											<div class="input-field col l6">
											  <div class="cartqty_blk"><span>Qty </span><input type="text" name="qtybox" maxlength="2" value="1" /></div>
											</div>
											<div class="input-field col l6"><a href="javascript:;"class="cartadd_btn" title="Add To Cart">Add to cart</a> </div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="prd_box z-depth-1">
								<div class="prd_boxin">
									<div class="prodtlst_img new_icon">
										<a title="" href="javascript:;"><img alt="Product" src="store/images/Products/haigenie_img1.jpg" class="Product"></a>
										<a class="prod_wishlst" href="javascript:;" title="wishlist"><i class="material-icons">favorite_border</i></a>
									</div>
									
									<div class="prodtlst_info clearfix">
										<div class="prodtlst_info_top oferbadfe_out" > <span class="offer_bagde z-depth-3">4% Offer</span>
											<div><a title="Vegie Overloaded Big Pizza" href="javascript:;" class="title2">Vegie Overloaded Big Pizza</a></div>																																			
										</div>
										<div class="prodtlst_price_blk clearfix">
											<p class="actl_price"><i class="fa fa-rupee"></i>199</p>
											<p class="disc_price"><i class="fa fa-rupee"></i>125</p>
										</div>
										
										<div class="input-field qtyamt_blk usergm_slct_out clearfix">  
											<i class="material-icons dwnarrow">keyboard_arrow_down</i>
											<select class="browser-default"  name="qtywght">
												<option value="" disabled selected>Choose option</option>
												<option>250 Gram</option>
												<option>500 Gram</option>
												<option>1 Kg</option>
												<option>2 Kg</option>
												<option>5 Kg</option>
											</select>
										 </div>
										
										<div class="cartbtn_blk row clearfix">											
											<div class="input-field col l6">
											  <div class="cartqty_blk"><span>Qty </span><input type="text" name="qtybox" maxlength="2" value="1" /></div>
											</div>
											<div class="input-field col l6"><a href="javascript:;"class="cartadd_btn" title="Add To Cart">Add to cart</a> </div>
										</div>
									</div>
								</div>
							</div>
							
							
							<div class="prd_box z-depth-1">
								<div class="prd_boxin">
									<div class="prodtlst_img">
										<a title="" href="javascript:;"><img alt="Product" src="store/images/Products/haigenie_img1.jpg" class="Product"></a>
										<a class="prod_wishlst" href="javascript:;" title="wishlist"><i class="material-icons">favorite_border</i></a>
									</div>
									
									<div class="prodtlst_info clearfix">
										<div class="prodtlst_info_top">
											<div><a title="Vegie Overloaded Big Pizza" href="javascript:;" class="title2">Vegie Overloaded Big Pizza</a></div>																																			
										</div>
										<div class="prodtlst_price_blk clearfix">
											<p class="prd_price"><i class="fa fa-rupee"></i>229</p>
										</div>
										
										<div class="input-field qtyamt_blk usergm_slct_out clearfix">  
											<i class="material-icons dwnarrow">keyboard_arrow_down</i>
											<select class="browser-default"  name="qtywght">
												<option value="" disabled selected>Choose option</option>
												<option>250 Gram</option>
												<option>500 Gram</option>
												<option>1 Kg</option>
												<option>2 Kg</option>
												<option>5 Kg</option>
											</select>
										 </div>
										
										<div class="cartbtn_blk row clearfix">											
											<div class="input-field col l6">
											  <div class="cartqty_blk"><span>Qty </span><input type="text" name="qtybox" maxlength="2" value="1" /></div>
											</div>
											<div class="input-field col l6"><a href="javascript:;"class="cartadd_btn" title="Add To Cart">Add to cart</a> </div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="prd_box z-depth-1">
								<div class="prd_boxin">
									<div class="prodtlst_img">
										<a title="" href="javascript:;"><img alt="Product" src="store/images/Products/haigenie_img1.jpg" class="Product"></a>
										<a class="prod_wishlst" href="javascript:;" title="wishlist"><i class="material-icons">favorite_border</i></a>
									</div>
									
									<div class="prodtlst_info clearfix">
										<div class="prodtlst_info_top">
											<div><a title="Vegie Overloaded Big Pizza" href="javascript:;" class="title2">Vegie Overloaded Big Pizza</a></div>																																			
										</div>
										<div class="prodtlst_price_blk clearfix">
											<p class="actl_price"><i class="fa fa-rupee"></i>199</p>
											<p class="disc_price"><i class="fa fa-rupee"></i>125</p>
										</div>
										
										<div class="input-field qtyamt_blk usergm_slct_out clearfix">  
											<i class="material-icons dwnarrow">keyboard_arrow_down</i>
											<select class="browser-default"  name="qtywght">
												<option value="" disabled selected>Choose option</option>
												<option>250 Gram</option>
												<option>500 Gram</option>
												<option>1 Kg</option>
												<option>2 Kg</option>
												<option>5 Kg</option>
											</select>
										 </div>
										
										<div class="cartbtn_blk row clearfix">											
											<div class="input-field col l6">
											  <div class="cartqty_blk"><span>Qty </span><input type="text" name="qtybox" maxlength="2" value="1" /></div>
											</div>
											<div class="input-field col l6"><a href="javascript:;"class="cartadd_btn" title="Add To Cart">Add to cart</a> </div>
										</div>
									</div>
								</div>
							</div>
							
							
							<div class="prd_box z-depth-1">
								<div class="prd_boxin">
									<div class="prodtlst_img">
										<a title="" href="javascript:;"><img alt="Product" src="store/images/Products/haigenie_img1.jpg" class="Product"></a>
										<a class="prod_wishlst" href="javascript:;" title="wishlist"><i class="material-icons">favorite_border</i></a>
									</div>
									
									<div class="prodtlst_info clearfix">
										<div class="prodtlst_info_top">
											<div><a title="Vegie Overloaded Big Pizza" href="javascript:;" class="title2">Vegie Overloaded Big Pizza</a></div>																																			
										</div>
										<div class="prodtlst_price_blk clearfix">
											<p class="actl_price"><i class="fa fa-rupee"></i>199</p>
											<p class="disc_price"><i class="fa fa-rupee"></i>125</p>
										</div>
										
										<div class="input-field qtyamt_blk usergm_slct_out clearfix">  
											<i class="material-icons dwnarrow">keyboard_arrow_down</i>
											<select class="browser-default"  name="qtywght">
												<option value="" disabled selected>Choose option</option>
												<option>250 Gram</option>
												<option>500 Gram</option>
												<option>1 Kg</option>
												<option>2 Kg</option>
												<option>5 Kg</option>
											</select>
										 </div>
										
										<div class="cartbtn_blk row clearfix">											
											<div class="input-field col l6">
											  <div class="cartqty_blk"><span>Qty </span><input type="text" name="qtybox" maxlength="2" value="1" /></div>
											</div>
											<div class="input-field col l6"><a href="javascript:;"class="cartadd_btn" title="Add To Cart">Add to cart</a> </div>
										</div>
									</div>
								</div>
							</div>
										
						</div>				
						
						<div class="col m12 l3 rht_spl_ofer">
							<div class="rht_spl_oferblk">
							
								<div class="prd_box z-depth-1">
									<div class="prd_boxin">
										<div class="prodtlst_img">
											<a title="" href="javascript:;"><img alt="Product" src="store/images/Products/haigenie_img1.jpg" class="Product"></a>
											<a class="prod_wishlst" href="javascript:;" title="wishlist"><i class="material-icons">favorite_border</i></a>
										</div>
										
										<div class="prodtlst_info clearfix">
											<div class="prodtlst_info_top oferbadfe_out" > <span class="offer_bagde z-depth-3">4% Offer</span>
												<div><a title="Vegie Overloaded Big Pizza" href="javascript:;" class="title2">Vegie Overloaded Big Pizza</a></div>																																			
											</div>
											<div class="prodtlst_price_blk clearfix">
												<p class="actl_price"><i class="fa fa-rupee"></i>199</p>
												<p class="disc_price"><i class="fa fa-rupee"></i>125</p>
											</div>
											
											<div class="input-field qtyamt_blk usergm_slct_out clearfix">  
											<i class="material-icons dwnarrow">keyboard_arrow_down</i>
											<select class="browser-default"  name="qtywght">
												<option value="" disabled selected>Choose option</option>
												<option>250 Gram</option>
												<option>500 Gram</option>
												<option>1 Kg</option>
												<option>2 Kg</option>
												<option>5 Kg</option>
											</select>
										 </div>
											
											<div class="cartbtn_blk row clearfix">											
												<div class="input-field col l6">
												  <div class="cartqty_blk"><span>Qty </span><input type="text" name="qtybox" maxlength="2" value="1" /></div>
												</div>
												<div class="input-field col l6"><a href="javascript:;"class="cartadd_btn" title="Add To Cart">Add to cart</a> </div>
											</div>
										</div>
									</div>
								</div>
							
								<div class="prd_box z-depth-1">
									<div class="prd_boxin">
										<div class="prodtlst_img">
											<a title="" href="javascript:;"><img alt="Product" src="store/images/Products/haigenie_img1.jpg" class="Product"></a>
											<a class="prod_wishlst" href="javascript:;" title="wishlist"><i class="material-icons">favorite_border</i></a>
										</div>
										
										<div class="prodtlst_info clearfix">
											<div class="prodtlst_info_top oferbadfe_out" > <span class="offer_bagde z-depth-3">4% Offer</span>
												<div><a title="Vegie Overloaded Big Pizza" href="javascript:;" class="title2">Vegie Overloaded Big Pizza</a></div>																																			
											</div>
											<div class="prodtlst_price_blk clearfix">
												<p class="actl_price"><i class="fa fa-rupee"></i>199</p>
												<p class="disc_price"><i class="fa fa-rupee"></i>125</p>
											</div>
											
											<div class="input-field qtyamt_blk usergm_slct_out clearfix">  
											<i class="material-icons dwnarrow">keyboard_arrow_down</i>
											<select class="browser-default"  name="qtywght">
												<option value="" disabled selected>Choose option</option>
												<option>250 Gram</option>
												<option>500 Gram</option>
												<option>1 Kg</option>
												<option>2 Kg</option>
												<option>5 Kg</option>
											</select>
										 </div>
											
											<div class="cartbtn_blk row clearfix">											
												<div class="input-field col l6">
												  <div class="cartqty_blk"><span>Qty </span><input type="text" name="qtybox" maxlength="2" value="1" /></div>
												</div>
												<div class="input-field col l6"><a href="javascript:;"class="cartadd_btn" title="Add To Cart">Add to cart</a> </div>
											</div>
										</div>
									</div>
								</div>
							
							</div>
						</div>
						
					</div>
						
						
					</div>
				</div>
				<div id="powders_id" class="col l12" style="display:none;">
					<div class="center">
						<div class="col l12 prod_imgdesc">
							<div class="col s12 l6">
								<img class="responsive-img" src="store/images/receipe1.jpg" alt=""/>
							</div>	
							<div class="col s12 l6">
								<h5 class="text-left">Oils</h5>
								<p class="desc1 grey-text text-darken-1">T.M.M.R.Rathinasamy & Co is in the field of extraction of edible oils since 1977. Main intention of our company is to produce best quality Gingelly oil through natural process.</p>
								<br/>
								<p class="desc1 grey-text text-darken-1">Nearly 400 tons of quality Gingelly oil can be extracted every month from our factory. Best quality sesame seeds from all over India are subjected to quality testing and then purchased. Since Gingelly oil extraction process we follow is natural, the Aroma of our Gingelly oil itself speaks for its flavour and quality.</p>
							</div>	
						</div>
					
					<h4 class="title1">Powders</h4>
					<div class="prodct_list row">
						<div class="col m12 l9">
							
							
						</div>				
						
						<div class="col m12 l3 rht_spl_ofer">
							<div class="rht_spl_oferblk">
							</div>
						</div>
						
					</div>
						
					</div>
					</div>
					<div id="cerreals_id" class="col l12" style="display:none;">
						<div class="center">
							<h2>Cerreals</h2>
						</div>
					</div>
				<div id="vegetables_id" class="col l12" style="display:none;">
						<div class="center"> <h2>Vegetables</h2> </div>
				</div>
			</div>
		</div>
		
		
		<!-- Product Tabs End -->
		<script>                                                        
            $(document).ready (function() { 
					 $('ul.tabs').tabs();
				/* Tab Previous Next Buttons script start */
				
				$('.hmoe_prod_tab .btnPrevious').click(function() { 
			var content = $(".hmoe_prod_tabin")
			var pos = content.position().left + 250;
			if (pos >= 0)
			{
				pos = 0;
			}
			$('#home_prod_tabid > li > .active').parent().prev('li').find('a').trigger('click');
			content.animate({ left: pos }, 1000);
		  });
		    $('.hmoe_prod_tab .btnNext').click(function() {
			 //alert('clicked in tab_nav');
			var content = $(".hmoe_prod_tabin")
			var width = $(".hmoe_prod_tabin > ul").children('li').width() *  ( 	$('#home_prod_tabid > li').length - 1 );  //alert(width);
			var pos = content.position().left - 250;
			//var width = content.width();
			if (pos <= (width * -1) + 670)
			{
				pos = (width * -1) + 600;
			}
			$('#home_prod_tabid > li > .active').parent().next('li').find('a').trigger('click');
			content.animate({ left: pos }, 1000);
		  });
				
				/* Tab Previous Next Buttons script end */
				/* Add Wishlist end */
				$('.prod_wishlst').click(function () {  
					$(this).toggleClass('active');					
				});	  });                        
        </script> 