<div class="whychose_sec">
			<div class="center">
				<h3 class="title1">Why Choose Us ?</h3>
				<ul class="lst_blk whychose_lst">
					<li>
						<div class="flip_frnt z-depth-1"><i class="why_icon1"></i></div>
						<div class="flip_back z-depth-1"><p class="desc1">100% Certified Organic Products</p></div>
					</li>
					<li>
						<div class="flip_frnt z-depth-1"><i class="why_icon2"></i></div>
						<div class="flip_back z-depth-1"><p class="desc1">Quality You Love To Cook</p></div>
					</li>
					<li>
						<div class="flip_frnt z-depth-1"><i class="why_icon3"></i></div>
						<div class="flip_back z-depth-1"><p class="desc1">Guaranteed Value For U'r Money</p></div>
					</li>
					<li>
						<div class="flip_frnt z-depth-1"><i class="why_icon4"></i></div>
						<div class="flip_back z-depth-1"><p class="desc1">Quick Delivery to U'r Door step</p></div>
					</li>					
				</ul>
			</div>
		</div>